*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

body {
    font-family: "Press Start 2P", monospace;
    background-color: #2e0c18;
    color: #fce1ee;
    font-size: 14px;
    line-height: 1.4;
}

nav{
    display: flex;
    align-items: left;
    justify-content: space-between;
    background-color: #4a2031;
    padding: 0px 0px;
    white-space: nowrap;
    overflow: hidden;
}
nav a {
    text-decoration: none;
    color: #fcd5e4;
    font-size: clamp(0px, 2.2vw, 20px);
    font-weight: bold;
    background-color: #6d314c;
    padding: 6px 12px;
    border: 0px solid #c17894;
  
}
nav a:hover{
    background-color: #8a3a5e;
}
.window{
    margin: 10px;
    /* border: 4px double #f0b8cd;*/
    position: relative;
    color: #fce1ee;
    display: flex;
    grid-template-columns: minmax(150px, 250px) 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    
}
nav a.active {
  background-color: #d983aa;
  color: #fff;
}
.nav-box{
  display: flex;
  flex-shrink: 1;
}
.window-controls{
  display: flex;
}
.window-button{
  align-items: end;
  background-color: #4a2031;
}

.left-panel {
  text-align: center;
}
.right-panel {
  flex-shrink: 1;
  min-width: 400px;
  max-width: 100%;
}
.right-panel-text {
  display: flex;
  flex-shrink: inherit;
     font-size: clamp(0px, 2.2vw, 25px);

}


.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid #fdd;
  object-fit: cover;
  margin-bottom: 0px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



.profile h1 {
  font-size: 1.2em;
  margin-right: 10px;
}

.social-icons {
  margin-top: 0px;
  font-size: 30px;
}

.social-icons a {
  
  color: #fdd;
  text-decoration: none;
}

.tools ul {
  list-style-type: square;
  padding-left: 20px;
  margin-top: 10px;
}



.section {
  display: flex;
}

.section.hidden {
  display: none;
}



.footer{
  position: fixed;     
       text-align: left; 
       position: absolute;   
       bottom: 0px; 
       width: 100%;
       font-size: 5pt;
}